/* FONT  */
@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
	font-family: Poppins-Medium;
	src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
	font-family: Poppins-SemiBold;
	src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }

/*basic reset*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

html {
	height: 100%;
	/*Image only BG fallback*/
}

body {
	background-size: cover;
	font-family: Poppins-Regular;
}
/*form styles*/


input[type=submit] {
	width: 100px;
	background: #8DAEF2;
	font-size: 18px;
	font-weight: semibold;
	color: #ffffff;
	border: 0 none;
	border-radius: 25px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

label {
	display: flex;
  }

input[type=submit]:hover, input[type=submit]:focus {
	background: #465EA6;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #465EA6;
}

#msform {
	width: 600px;
	margin: 100px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 10px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: Poppins;
	color: #2C3E50;
	font-size: 16px;
  	color: black;
  	line-height: 1.2;
}

#msform select {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: Poppins;
	color: #2C3E50;
	font-size: 16px;
  	color: black;
  	line-height: 1.2;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #465EA6;
	font-size: 18px;
	font-weight: semibold;
	color: white;
	border: 0 none;
	border-radius: 25px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #2346ac;
}
/*headings*/
.fs-title {
	font-weight: semibold;
	font-size: 28px;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background: #8DAEF2;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #8DAEF2;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #366CD9;
	color: white;
}